/*#54C95D #A5D057 #E0D565*/

.dark-panel {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.light-panel {
    -fx-background-color: -fx-background;
}

.text-Title{
       -fx-font-size: 30px;
       -fx-font-family: "PRIMETIME";
}

.text-Other{
       -fx-font-size: 18px;
       -fx-font-family: "Arial";
}

.panes{
    -fx-background-color: white;
}

.wizButton{
    -fx-background-color: #A5D057;
    -fx-background-radius: 5px;
}

.wizButton:hover{
    -fx-cursor: hand;
    -fx-background-color: #E0D565;
}

.wizButtonLabel{
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-font-weight: bolder;
}

.wizGuideLabel{
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.indicatorPane{
    -fx-background-color: #54C95D;
}