/*#54C95D #A5D057 #E0D565*/

.mainPane
{
    -fx-pref-height: 50px;
    -fx-background-color: #A5D057;
    -fx-border-color: black;
}

.mainPane:hover
{
    -fx-background-color: #E0D565;
    -fx-cursor: hand;
}

.kategoriLable{
    -fx-font-size: 18px;
    -fx-text-fill: black;
}