.mainPane
{
    -fx-pref-width: 200px;
    -fx-pref-height: 255px;
    -fx-border-color: black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.itemNameLable
{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.priceLable
{
    -fx-text-fill: black;
    -fx-font-size: 17px;
    -fx-font-weight: bolder;
    -fx-text-alignment: left;
}

.itemImage
{

    -fx-fit-to-width: 180px;
    -fx-fit-to-height: 180px;
    -fx-background-radius: 10px;
}