/*#54C95D #A5D057 #E0D565*/

.mainPane
{
    -fx-pref-width: 200px;
    -fx-pref-height: 255px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: white;
}

.itemNameLable
{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.itemNameLable:hover{
    -fx-underline: true;
    -fx-cursor: hand;
}

.priceLable
{
    -fx-text-fill: black;
    -fx-font-size: 17px;
    -fx-font-weight: bolder;
    -fx-text-alignment: left;
}

.itemImage
{
    -fx-fit-to-width: 180px;
    -fx-fit-to-height: 180px;
    -fx-background-radius: 10px;
}

.plusMinusImage:hover{
    -fx-cursor: hand;
}

.favoriteIcon{
    -fx-background-color: white;
    -fx-background-radius: 3px;
}

.favoriteIcon:hover{
    -fx-cursor: hand;
}