.titleLabel{
    -fx-font-size: 25px;
}

.priceLable{
    -fx-font-size: 22px;
}

.mainPane{
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.favoriteLabel:hover{
    -fx-font-weight: bolder;
}