.arrow{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #54C95D;
}

.arrow:hover{
    -fx-cursor: hand;
}

.questionText{
    -fx-font-size: 22px;
}

.questionText:hover{
    -fx-cursor: hand;
}

.mainPane{

}

.answerLable{
    -fx-font-size: 18px;
}