.errorPane{
    -fx-border-color: red;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #F6CECE;
}

.passChangedMessage{
    -fx-border-color: green;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #CEF6CE;
}